doctype html
html(lang="en")
  head
    title= 'Stacked Boilerplate.'
    //- link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://bootswatch.com/paper/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    script(src='http://#{locals.host}:#{locals.webpackPort}/build/app.hot.js')
  body
    #root(style='min-height: 98vh')
    footer(style='text-align: center;')
      p From Carpinteria, with #[i(class='fa fa-heart' style='color: #D64541;')]
