doctype html
html(lang="en")
  head
    title= 'Procore Client | The Future is Now'
    link(rel='stylesheet', href='http://ude:3000/assets/vendor.css')
    link(rel='stylesheet', href='http://ude:3000/assets/__v1/v1.css')
    link(rel='stylesheet', href='http://ude:3000/assets/__wrench/wrench.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    script(src='http://#{locals.host}:#{locals.webpackPort}/build/app.hot.js')
  body
    #root
